
.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.col-md-6 {
  color: #fff;
}


/* social-links*/
.social-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top:12rem;
}

.social-links-list {
  list-style: none;
  padding: 0;
}

.social-links-list li {
  margin-bottom: 1rem;
  padding: 1.25rem;
  
}
.icon {
  font-size: 1.5rem;
}
