 #contact {
  margin-bottom: 3rem;
  max-width:905px;

 }

 .contact-h1  {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-contact{
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}

.contact-h1 h1, .contact-p{
  text-align: center;
  margin-bottom: 3rem;
}


.inner-contact a {
  text-decoration: none;
  color: rgb(22, 115, 209);
}
.inner-contact p{
  letter-spacing: 1.2px;
  line-height: 24px;
  color: black;
  font-weight:bolder;
}
.inner-contact a:hover{
  color:orangered;
}

