/* Social Links*/
#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}
.social-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.social-links li {
  margin-right: 10px;
  
 
}

.social-links li a {
  color: gray;
  font-size: 25px;
  padding: 6px;
  
}
.social-links li:nth-child(1) a:hover{
  color:black;
}

.social-links li:nth-child(2) a:hover {
  color:dodgerblue;
}
.social-links li:nth-child(3) a:hover {
  color:blue;
}

